.DS_Store
node_modules/
*.log
haters/
.idea/
%Documents%Vs Code Projects%Web Dev%Js Challanges%JavaScript30/chat_history/history.sqlite

# Ignore SSL certificate files
localhost.crt
localhost.pem
localhost.key
localhost-key.pem


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
