html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;

	min-height: 100vh;
	margin: 0;
	padding: 0;

	background: linear-gradient(135deg, #7c1599 0%, #921099 48%, #7e4ae8 100%);
	background-size: cover;
}

.player {
	position: relative;

	overflow: hidden;

	max-width: 750px;

	font-size: 0;

	border: 5px solid rgb(0 0 0 / 20%);
	box-shadow: 0 0 20px rgb(0 0 0 / 20%);
}

/* This css is only applied when fullscreen is active. */
.player:fullscreen {
	width: 100%;
	max-width: none;
}

.player:full-screen {
	width: 100%;
	max-width: none;
}

.player__video {
	width: 100%;
}

.player__button {
	cursor: pointer;

	max-width: 50px;
	padding: 0;

	line-height: 1;
	color: white;
	text-align: center;

	background: none;
	border: 0;
	outline: 0;
}

.player__button:focus {
	border-color: #ffc600;
}

.player__slider {
	width: 10px;
	height: 30px;
}

.player__controls {
	position: absolute;
	bottom: 0;
	transform: translateY(100%) translateY(-5px);

	display: flex;
	flex-wrap: wrap;

	width: 100%;

	background: rgb(0 0 0 / 10%);

	transition: all 0.3s;
}

.player:hover .player__controls {
	transform: translateY(0);
}

.player:hover .progress {
	height: 15px;
}

.player__controls > * {
	flex: 1;
}

.progress {
	cursor: ew-resize;

	position: relative;

	display: flex;
	flex: 10;
	flex-basis: 100%;

	height: 5px;

	background: rgb(0 0 0 / 50%);

	transition: height 0.3s;
}

.progress__filled {
	flex: 0;
	flex-basis: 50%;
	width: 50%;
	background: #ffc600;
}

/* unholy css to style input type="range" */

input[type="range"] {
	width: 100%;
	margin: 0 5px;
	appearance: none;
	background: transparent;
}

input[type="range"]:focus {
	outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
	cursor: pointer;

	width: 100%;
	height: 8.4px;

	background: rgb(255 255 255 / 80%);
	border: 0.2px solid rgb(1 1 1 / 0%);
	border-radius: 1.3px;
	box-shadow: 1px 1px 1px rgb(0 0 0 / 0%), 0 0 1px rgb(13 13 13 / 0%);
}

input[type="range"]::-webkit-slider-thumb {
	cursor: pointer;

	width: 15px;
	height: 15px;
	margin-top: -3.5px;

	appearance: none;
	background: #ffc600;
	border-radius: 50px;
	box-shadow: 0 0 2px rgb(0 0 0 / 20%);
}

input[type="range"]:focus::-webkit-slider-runnable-track {
	background: #bada55;
}

input[type="range"]::-moz-range-track {
	cursor: pointer;

	width: 100%;
	height: 8.4px;

	background: #fff;
	border: 0.2px solid rgb(1 1 1 / 0%);
	border-radius: 1.3px;
	box-shadow: 1px 1px 1px rgb(0 0 0 / 0%), 0 0 1px rgb(13 13 13 / 0%);
}

input[type="range"]::-moz-range-thumb {
	cursor: pointer;

	width: 15px;
	height: 15px;

	background: #ffc600;
	border-radius: 50px;
	box-shadow: 0 0 0 rgb(0 0 0 / 0%), 0 0 0 rgb(13 13 13 / 0%);
}

span.display {
	position: absolute;
	z-index: 99;
	top: 70%;
	left: 38%;

	width: 25%;
	height: 48px;

	font-size: 2.5rem;
	color: white;
	text-align: center;

	opacity: 0;
	background-color: #0f090973;
	border-radius: 0.5rem;

	transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
}

span.display.show {
	opacity: 1;
	background-image: linear-gradient(45deg, transparent 50%, #263b59 50%), linear-gradient(135deg, #263b59 50%, transparent 50%), radial-gradient(transparent 0%, transparent 0%);
	transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 2s;
}
