:root {
	--bg-color: #141b28;
	--content-bg-color: #131b29;
	--text-color: #a9aaab;
	--primary-color: #efb752;
	--primary-btn-border-color: #f0b752;
	--primary-btn-text-color: #f0b752;
	--window-border: 1px solid #16161a;
	--item-hover-bg-color: #1a283d;
	--item-hover-text-color: #f0b752;
	--meta-content-color: #f0b752;
	--link-color: #71bfd9;
	--horizontale-line: #f79f2a;
	---code-block-bg: #192133;
}

@font-face {
	font-family: Nunito;
	font-weight: normal;
	font-style: normal;
	src: local("Nunito Sans Regular"), url("./nunito/NunitoSans-Regular.woff") format("woff");
}

@font-face {
	font-family: Nunito;
	font-weight: normal;
	font-style: italic;
	src: local("Nunito Sans It"), url("./nunito/NunitoSans-Italic.woff") format("woff");
}

@font-face {
	font-family: Nunito;
	font-weight: bold;
	font-style: normal;
	src: local("Nunito Sans Bold"), url("./nunito/NunitoSans-ExtraBold.woff") format("woff");
}

@font-face {
	font-family: Nunito;
	font-weight: bold;
	font-style: italic;
	src: local("Nunito Sans Bold Italic"), url("./nunito/NunitoSans-ExtraBoldItalic.woff") format("woff");
}

body {
	min-height: 100vh;
	min-height: 100svh;
	font-family: Nunito, "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.925rem;
	line-height: 1.6;
	color: var(--text-color);
	background: var(--bg-color);
}

a {
	color: var(--link-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	cursor: text;
	position: relative;
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-weight: bold;
	line-height: 1.4;
	border-bottom: 1px solid var(--horizontale-line);
}

h1 {
	padding-bottom: 0.3em;
	font-size: 3.25em;
	line-height: 1.2;
}

h2 {
	padding-bottom: 0.3em;
	font-size: 2.75em;
	line-height: 1.225;
}

h3 {
	font-size: 1.8em;
	line-height: 1.43;
}

h4 {
	font-size: 1.45em;
}

h5 {
	font-size: 1.2em;
}

h6 {
	font-size: 1em;
}

#write {
	margin: 0 auto;

	/* max-width: 800px; */
	padding: 30px;
	padding-bottom: 100px;
	color: var(--text-color);
	background: var(--content-bg-color);
}

#write h1,
#write h2,
#write h3,
#write h4,
#write h5,
#write h6,
#write pre {
	width: auto;
	color: var(--primary-color);
}

#write h1::before,
#write h2::before,
#write h3::before,
#write h4::before,
#write h5::before,
#write h6::before {
	position: absolute;
	right: calc(100% + 10px);
	bottom: 0;
	left: auto;
	float: none;
	padding: 0;
	font-size: 1rem;
	font-weight: bold;
	font-variant: small-caps;
	line-height: 20px;
	color: #517090;
	vertical-align: baseline;
	border-radius: 0;
}

#write h1 {
	margin: 0.6rem 0;
	font-size: 3.2rem;
}

#write h1::before {
	content: "H1";
	bottom: 1.45rem;
}

#write h2 {
	margin: 0.7rem 0;
	font-size: 1.8rem;
}

#write h2::before {
	content: "H2";
	bottom: 0.2rem;
}

#write h3 {
	margin: 0.5rem 0;
	font-size: 1.2rem;
}

#write h3::before {
	content: "H3";
	bottom: 0.18rem;
}

#write h4 {
	margin: 0.2rem 0;
	font-size: 1rem;
}

#write h4::before {
	content: "H4";
	bottom: 0.15rem;
}

#write h5,
#write h6 {
	margin: 0;
	font-size: 1rem;
}

#write h5::before,
#write h6::before {
	bottom: 0.1rem;
}

#write h5::before {
	content: "H5";
}

#write h6::before {
	content: "H6";
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
	text-decoration: none;
}

h1 tt,
h2 tt,
h3 tt,
h4 tt,
h5 tt,
h6 tt,
h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
	font-size: inherit;
}

p,
blockquote,
ul,
ol,
dl,
table {
	margin: 0.8em 0;
}

ul,
ol {
	padding-left: 30px;
}

ul:first-child,
ol:first-child {
	margin-top: 0;
}

ul:last-child,
ol:last-child {
	margin-bottom: 0;
}

#write ol,
#write ul {
	margin: 0.5rem 0;
	padding-left: 2rem;
}

#write ol > li::marker,
#write ul > li::marker {
	color: var(--meta-content-color);
}

#write ul li:first-child,
#write ol li:first-child {
	margin-top: 30px;
}

#write ol > li > *:not(ol, ul),
#write ul > li > *:not(ol, ul) {
	padding-left: 0.25rem;
}

#write ul {
	list-style-type: disc;
}

hr {
	overflow: hidden;
	box-sizing: content-box;
	height: 2px;
	margin: 16px 0;
	padding: 0;
	background-color: var(--horizontale-line);
	border: 0 none;
}

li p.first {
	display: inline-block;
}

blockquote {
	position: relative;
	margin: 1rem 0 1rem 2rem;
	font-family: Nunito, "Times New Roman", serif;
}

blockquote::before {
	content: "";
	position: absolute;
	left: -2rem;
	width: 0.25rem;
	height: 100%;
	background: var(--meta-content-color);
}

:root {
	scroll-behavior: smooth;
}

h1.toc-title {
	overflow: hidden; /* Hide any overflowing content */
	font-size: 2.25rem;
	line-height: 2.5rem;
	text-overflow: ellipsis; /* Show ellipsis (...) when content overflows */
	white-space: nowrap; /* Prevent text from wrapping */
}

.container {
	display: flex;
}

/* Style for the sidebar */
.sidebar {
	position: sticky;
	top: 0;
	align-self: flex-start; /* <-- this is the fix */
	width: 20%;
	min-height: 100vh;
	opacity: 1;

	/* box-shadow: 0 0 10px rgb(0 0 0 / 10%); */
	border-radius: 0.25rem;
	box-shadow: 15px 3px 140px -31px rgb(0 0 0 / 47.9%);
	transition: all 0.7s ease;
}

/* Style for the Table of Contents */
.toc {
	padding: 20px;
}

.toc ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.toc li {
	position: relative;
	margin-bottom: 8px;
}

.toc li::before {
	content: "";
	position: absolute;
	top: 10%;
	left: -3%;
	transform-origin: top;
	display: block;
	width: 0.07rem;
	height: 80%;
	background-color: #f4c25e;
	border-radius: 1rem;
	transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1); /* Use cubic-bezier easing function */
}

.toc li:hover::before {
	width: 0.25rem;
}

/* Style for TOC links at different levels */
.toc-level-2 {
	margin-left: 10px;
}

.toc-level-3 {
	margin-left: 20px;
}

/* Add more styles for other levels if needed */

/* Highlight TOC links on hover */
.toc a:hover {
	color: #007bff;
}

/* Add styles for the toggle button */
.toggle-button {
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0%; /* Adjust the right position as needed */
	left: -10%;
	margin: 10px;
	padding: 10px;
	font-size: 24px;
	color: #f4c25e;
	background-color: transparent;
	border: none;
	transition: all 0.5s ease;
}

/* Adjust the sidebar's width when it's collapsed */

/* .sidebar.collapsed {
				width: 0; // Adjust as needed
			} */

/* Adjust the sidebar's width when it's collapsed */
.sidebar.collapsed {
	width: 0; /* Adjust as needed */
	opacity: 0;
}

.no-wrap {
	overflow: hidden; /* Hide any overflowing content */
	text-overflow: ellipsis; /* Show ellipsis (...) when content overflows */
	white-space: nowrap; /* Prevent text from wrapping */
}

.sidebar.collapsed ~ .markdown-content .toggle-button {
	left: -30%;
}

/* .sidebar.collapsed .toggle-button {
				margin-left: 0;
			} */

.markdown-content {
	position: relative;
	max-width: 55%;
}

.scroll-to-top-button {
	cursor: pointer;
	position: fixed;
	right: 20px;
	bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	font-size: 24px;
	color: #696969;
	opacity: 0;
	background-color: #f4c25e;
	border: none;
	border-radius: 50%;
	box-shadow: rgb(0 0 0 / 40%) 0 2px 4px, rgb(243 216 141) 0 7px 13px -3px, rgb(0 0 0 / 20%) 0 -3px 0 inset;
	transition: all 0.3s ease-in-out;
}

.scroll-to-top-button:hover {
	background-color: #ffaa0b;
	box-shadow: rgb(243 216 141) 0 2px 4px, rgb(243 216 141) 0 7px 13px -3px, rgb(0 0 0 / 20%) 0 -3px 0 inset;
}

.scroll-to-top-button.show {
	opacity: 1;
}

img {
	max-width: 100%;
	height: auto;
	margin-block: 1rem;
	border-radius: 0.5rem;
}

table {
	padding: 0;
	font-size: 0.875rem;
	word-break: initial;
}

table tr {
	margin: 0;
	padding: 0;
	border-top: 1px solid #57708d;
}

thead {
	color: #9dbbdd;
	background-color: #324963;
}

table tr th {
	margin: 0;
	padding: 10px 16px;
	font-weight: bold;
	border: 1px solid #57708d;
	border-bottom: solid 2px #ccc;
	border-bottom: 0;
}

table tr td {
	margin: 0;
	padding: 10px 16px;
	background: #192534;
	border: 1px solid #57708d;
}

table tr th:first-child,
table tr td:first-child {
	margin-top: 0;
}

table tr th:last-child,
table tr td:last-child {
	margin-bottom: 0;
}

/* code blocks */
.hljs {
	background: var(---code-block-bg) !important;
	border: 1px solid #324560 !important;
}

.code-tooltip {
	background: #1a283d;
	border-top: 1px solid #1a283d;
	box-shadow: 0 1px 1px 0 rgb(0 28 36 / 30%);
}

.md-fences,
/* code, */
tt {
	padding: 0;
	font-size: 0.9em;
	color: #b9bcba;
	border-radius: 3px;
}

code {
	font-weight: 400;
	line-height: 1.3;
	border-radius: 4px;
}

.md-fences {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 8px;
	padding-bottom: 6px;
}

@media print {
	html {
		font-size: 13px;
	}

	table,
	pre {
		page-break-inside: avoid;
	}

	pre {
		word-wrap: break-word;
	}
}

#write > h3.md-focus::before {
	top: 0.375rem;
	left: -1.5625rem;
}

#write > h4.md-focus::before {
	top: 0.285714286rem;
	left: -1.5625rem;
}

#write > h5.md-focus::before {
	top: 0.285714286rem;
	left: -1.5625rem;
}

#write > h6.md-focus::before {
	top: 0.285714286rem;
	left: -1.5625rem;
}

.file-node-icon::before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url("data:image/svg+xml,%3Csvg version='1.1' fill='#70bfd9' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M438.944,352c11.046,0,20-8.954,20-20V80c0-44.112-35.888-80-80-80H133.056c-44.112,0-80,35.888-80,80v352 c0,44.112,35.888,80,80,80h245.888c44.113,0,80-35.888,80.001-80c0-11.046-8.954-20-20-20c-11.046,0-20,8.954-20,20 c0,22.056-17.944,40-40,40H133.056c-22.056,0-40-17.944-40-40V80c0-22.056,17.944-40,40-40h245.889c22.056,0,40,17.944,40,40v252 C418.944,343.046,427.899,352,438.944,352z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M358.944,120h-206c-11.046,0-20,8.954-20,20s8.954,20,20,20h206c11.046,0,20-8.954,20-20S369.989,120,358.944,120z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M358.944,200h-206c-11.046,0-20,8.954-20,20s8.954,20,20,20h206c11.046,0,20-8.954,20-20S369.989,200,358.944,200z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M278.054,280H152.944c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h125.112c11.046,0,19.999-8.954,19.999-20 C298.054,288.954,289.1,280,278.054,280z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.file-tree-node.file-library-file-node:hover .file-node-icon::before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url("data:image/svg+xml,%3Csvg version='1.1' fill='#f4c25d' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M438.944,352c11.046,0,20-8.954,20-20V80c0-44.112-35.888-80-80-80H133.056c-44.112,0-80,35.888-80,80v352 c0,44.112,35.888,80,80,80h245.888c44.113,0,80-35.888,80.001-80c0-11.046-8.954-20-20-20c-11.046,0-20,8.954-20,20 c0,22.056-17.944,40-40,40H133.056c-22.056,0-40-17.944-40-40V80c0-22.056,17.944-40,40-40h245.889c22.056,0,40,17.944,40,40v252 C418.944,343.046,427.899,352,438.944,352z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M358.944,120h-206c-11.046,0-20,8.954-20,20s8.954,20,20,20h206c11.046,0,20-8.954,20-20S369.989,120,358.944,120z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M358.944,200h-206c-11.046,0-20,8.954-20,20s8.954,20,20,20h206c11.046,0,20-8.954,20-20S369.989,200,358.944,200z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M278.054,280H152.944c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h125.112c11.046,0,19.999-8.954,19.999-20 C298.054,288.954,289.1,280,278.054,280z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.file-tree-node.file-library-file-node.active:hover .file-node-icon::before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url("data:image/svg+xml,%3Csvg version='1.1' fill='#ffffff' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M352.459,220c0-11.046-8.954-20-20-20h-206c-11.046,0-20,8.954-20,20s8.954,20,20,20h206 C343.505,240,352.459,231.046,352.459,220z'/%3E%3Cpath d='M126.459,280c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20H251.57c11.046,0,20-8.954,20-20c0-11.046-8.954-20-20-20 H126.459z'/%3E%3Cpath d='M173.459,472H106.57c-22.056,0-40-17.944-40-40V80c0-22.056,17.944-40,40-40h245.889c22.056,0,40,17.944,40,40v123 c0,11.046,8.954,20,20,20c11.046,0,20-8.954,20-20V80c0-44.112-35.888-80-80-80H106.57c-44.112,0-80,35.888-80,80v352 c0,44.112,35.888,80,80,80h66.889c11.046,0,20-8.954,20-20C193.459,480.954,184.505,472,173.459,472z'/%3E%3Cpath d='M467.884,289.572c-23.394-23.394-61.458-23.395-84.837-0.016l-109.803,109.56c-2.332,2.327-4.052,5.193-5.01,8.345 l-23.913,78.725c-2.12,6.98-0.273,14.559,4.821,19.78c3.816,3.911,9,6.034,14.317,6.034c1.779,0,3.575-0.238,5.338-0.727 l80.725-22.361c3.322-0.92,6.35-2.683,8.79-5.119l109.573-109.367C491.279,351.032,491.279,312.968,467.884,289.572z M333.776,451.768l-40.612,11.25l11.885-39.129l74.089-73.925l28.29,28.29L333.776,451.768z M439.615,346.13l-3.875,3.867 l-28.285-28.285l3.862-3.854c7.798-7.798,20.486-7.798,28.284,0C447.399,325.656,447.399,338.344,439.615,346.13z'/%3E%3Cpath d='M332.459,120h-206c-11.046,0-20,8.954-20,20s8.954,20,20,20h206c11.046,0,20-8.954,20-20S343.505,120,332.459,120z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.active .file-node-icon::before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url("data:image/svg+xml,%3Csvg version='1.1' fill='#ffffff' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M352.459,220c0-11.046-8.954-20-20-20h-206c-11.046,0-20,8.954-20,20s8.954,20,20,20h206 C343.505,240,352.459,231.046,352.459,220z'/%3E%3Cpath d='M126.459,280c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20H251.57c11.046,0,20-8.954,20-20c0-11.046-8.954-20-20-20 H126.459z'/%3E%3Cpath d='M173.459,472H106.57c-22.056,0-40-17.944-40-40V80c0-22.056,17.944-40,40-40h245.889c22.056,0,40,17.944,40,40v123 c0,11.046,8.954,20,20,20c11.046,0,20-8.954,20-20V80c0-44.112-35.888-80-80-80H106.57c-44.112,0-80,35.888-80,80v352 c0,44.112,35.888,80,80,80h66.889c11.046,0,20-8.954,20-20C193.459,480.954,184.505,472,173.459,472z'/%3E%3Cpath d='M467.884,289.572c-23.394-23.394-61.458-23.395-84.837-0.016l-109.803,109.56c-2.332,2.327-4.052,5.193-5.01,8.345 l-23.913,78.725c-2.12,6.98-0.273,14.559,4.821,19.78c3.816,3.911,9,6.034,14.317,6.034c1.779,0,3.575-0.238,5.338-0.727 l80.725-22.361c3.322-0.92,6.35-2.683,8.79-5.119l109.573-109.367C491.279,351.032,491.279,312.968,467.884,289.572z M333.776,451.768l-40.612,11.25l11.885-39.129l74.089-73.925l28.29,28.29L333.776,451.768z M439.615,346.13l-3.875,3.867 l-28.285-28.285l3.862-3.854c7.798-7.798,20.486-7.798,28.284,0C447.399,325.656,447.399,338.344,439.615,346.13z'/%3E%3Cpath d='M332.459,120h-206c-11.046,0-20,8.954-20,20s8.954,20,20,20h206c11.046,0,20-8.954,20-20S343.505,120,332.459,120z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.cm-s-inner span.cm-string,
.cm-s-inner span.cm-string-2 {
	color: #f1fa8c;
}

.cm-s-inner span.cm-number {
	color: #bd93f9;
}

.cm-s-inner span.cm-operator {
	color: #ff79c6;
}

.cm-s-inner span.cm-keyword {
	color: #ff79c6;
}

pre code::selection,
pre code *::selection {
	background-color: rgb(255 255 255 / 10%) !important ; /* Adjust the color and opacity as needed */
}

code:not(pre code) {
	padding: 0.175rem 0.5rem;
	color: var(--meta-content-color);
	background: var(---code-block-bg);
}

strong {
	color: var(--meta-content-color);
}

header,
footer {
	font-family: Nunito, Arial, sans-serif;
}

/* .footer{
	color: #6db7d1;
	background: #1a283d;
	border-color: #303d50 !important;
} */
